header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0;
  margin-right: 1rem;
}

.container-logo {
  display: flex;
}

.logo {
  width: 6rem;
}

h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 1rem;
}