ul {
  display: flex;
  gap: 2em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #bbb;
  font-size: 2rem;
  font-weight: 400;
  transition: 0.5s;
}

a:hover {
  color: #fff
}